@model IEnumerable<ProyectoPA.Models.UsuarioRol>

@{
    ViewBag.Title = "Consulta";
}

<h2>Consulta</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IdUsuarioRol)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IdRol)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IdUsuario)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IdUsuarioRol)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IdRol)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IdUsuario)
        </td>
        <td>
            @Html.ActionLink("Editar", "Editar", new {  id=item.IdUsuarioRol  }) |
            
            @Html.ActionLink("Eliminar", "Eliminar", new {  id=item.IdUsuarioRol  })
        </td>
    </tr>
}

</table>
