@model IEnumerable<ProyectoPA.Models.UsuarioRol>

@{
    ViewBag.Title = "Index";
}

    <h2>UsuarioRol</h2>

<p>
    @Html.ActionLink("Crear UsuarioRol", "Crear")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IdUsuarioRol)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IdRol)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IdUsuario)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IdUsuarioRol)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IdRol)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IdUsuario)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { IdUsuarioRol = item.IdUsuarioRol }) |
           
            @Html.ActionLink("Delete", "Delete", new { IdUsuarioRol = item.IdUsuarioRol })
        </td>
    </tr>
}

</table>
