@model IEnumerable<ProyectoPA.Models.LineaUnidad>

@{
    ViewBag.Title = "Linea-Unidad";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Consultar", "Consultar")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IdLineaUnidad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IdUnidad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IdLinea)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IdLineaUnidad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IdUnidad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IdLinea)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdLineaUnidad  }) |
           
            @Html.ActionLink("Delete", "Delete", new {  id=item.IdLineaUnidad  })
        </td>
    </tr>
}

</table>
