@model IEnumerable<ProyectoPA.Models.Pago>

@{
    ViewBag.Title = "Index";
}

<h2>Pago</h2>

<p>
    @Html.ActionLink("Crear Pago", "Crear")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IdPago)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IdEmpresa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IdUnidad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IdUsuario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Monto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fecha)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Latitud)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Longitud)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Estado)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IdPago)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IdEmpresa)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IdUnidad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IdUsuario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Monto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fecha)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Latitud)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Longitud)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Estado)
        </td>
        <td>
            @Html.ActionLink("Editar", "Editar", new { IdPago = item.IdPago })
            
            @Html.ActionLink("Eliminar", "Eliminar", new { IdPago=item.IdPago })
        </td>
    </tr>
}

</table>
