@model IEnumerable<ProyectoPA.Models.Bitacora>

@{
    ViewBag.Title = "Index";
}

    <h2>Bitacora</h2>

<p>
    @Html.ActionLink("Crear Bitacora", "Crear")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IdBitacora)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Controlador)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Accion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Error)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tipo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fecha)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IdUsuario)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IdBitacora)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Controlador)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Accion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Error)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tipo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fecha)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IdUsuario)
        </td>
        <td>
            @Html.ActionLink("Editar", "Editar", new {  IdBitacora=item.IdBitacora  }) |
            
            @Html.ActionLink("Eliminar", "Eliminar", new { IdBitacora = item.IdBitacora })
        </td>
    </tr>
}

</table>
